.section.cv
	h2 Education
	.container
		.row.cv
			.col.s4.right-align 2014-2016
			.col.s8.bold.left-align M.Sc., Computer Science, Royal Institute of Technology (KTH)
		.row
			.col.s8.offset-s4.left-align GPA: 4.7/5.0
		.row
			.col.s8.offset-s4.left-align Track: IT-management and entrepreneurship
		.row.cv
			.col.s4.right-align 2012-2015
			.col.s8.bold.left-align B.Sc., Business Administration and Economics, Stockholm University
		.row
			.col.s8.offset-s4.left-align GPA: 4.1/5.0
		.row.cv
			.col.s4.right-align 2011-2014
			.col.s8.bold.left-align B.Sc., Computer Science, Royal Institute of Technology (KTH)
		.row
			.col.s8.offset-s4.left-align GPA: 4.7/5.0

	h2 Experience
	.container
		.row.cv
			.col.s4.right-align Jan 2016 – Jun 2016
			.col.s8.bold.left-align Master's thesis, Propellerhead AB
		.row.cv
			.col.s8.offset-s4.left-align Big data analysis of user behaviour
		.row.cv
			.col.s4.right-align Aug 2015 – Jul 2016
			.col.s8.bold.left-align Student Analyst, Söderberg & Partners, Insurance Analysis Objects
		.row.cv
			.col.s4.right-align 20hrs/week
			.col.s8.left-align Working with insurance analysis modelling
		.row.cv
			.col.s4.right-align Jun 2014 – Jul 2015
			.col.s8.bold.left-align Software Engineer, Ericsson AB, Ericsson RA WCDMA Mobility and Services
		.row.cv
			.col.s4.right-align Summer intern and 5hrs/week during semesters
			.col.s8.left-align Personally led development of Java Test software from concept to deployment stage. The platform is currently in final stages of deployment and is to be used to improve productivity of test engineers.
		.row.cv
			.col.s4.right-align Jun 2014 – Aug 2014
			.col.s8.bold.left-align Web Development Consultant, Timlen
		.row.cv
			.col.s4.right-align Evenings and weekends
			.col.s8.left-align A small tech-startup firm at the KTH Incubator. I worked with developing the firms web education management system

	h2 Extra-Curricular
	.container
		.row.cv
			.col.s4.right-align Jun 2014 – Aug 2015
			.col.s8.bold.left-align Project Leader, Studieresan (Studs), www.studieresan.se, KTH
		.row.cv
			.col.s8.offset-s4.left-align I personally led a project of 27 people with 7 people directly reporting to me and 20 reporting indirectly. The project involved funding and planning of a field trip to the U.S to visit software companies. We raised money from, and arranged student events with more than 15 companies, both in Stockholm and in the U.S.
		.row.cv
			.col.s4.right-align Jan 2013 – Dec 2013
			.col.s8.bold.left-align Head of Inauguration, Datasektionen (Computer science students chapter), KTH
		.row.cv
			.col.s8.offset-s4.left-align I led a group of 50 people with 26 people reporting directly to me. I led the inauguration of the 200 new computer science students that started KTH in 2013, together with a management team of seven people
		.row.cv
			.col.s4.right-align Jan 2012 – Dec 2012
			.col.s8.bold.left-align Vice Chairman, Datasektionen (Computer science students chapter), KTH
		.row.cv
			.col.s8.offset-s4.left-align Administrative and financial planning within the student union. This position taught me a lot about administrating organizations, especially since student unions often rely on volunteers which can result in issues regarding responsibility

	h2 Competence
	.container
		.row.cv
			.col.s4.bold.right-align Language
			.col.s8.left-align Swedish (Native) English (Fluent)
		.row.cv
			.col.s4.bold.right-align Computer skills
			.col.s8.left-align Java, C#, VBA (Professional experience) 
		.row.cv
			.col.s8.offset-s4.left-align Python, C++, Clojure (Academic and Hobby experience)
		.row.cv
			.col.s4.bold.right-align GMAT
			.col.s8.left-align 710 - Q48 V40 AWA5 IR8 (May 2015)