doctype
html
  head
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">

    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")

    //- Midnight
    script(type="text/javascript" src="https://cdn.jsdelivr.net/jquery.midnight/1.1.1/midnight.jquery.min.js")

    //- Initializers - should be moved to app.coffee
    script(type="text/javascript").
        // Start midnight
        $(document).ready(function(){
          // Change this to the correct selector.
          $('nav').midnight();
           //- $('#fullpage').fullpage();
           $('#fullpage').scrollNav();
        });
    
    //- scrollNav
    script(src="jquery.scrollNav.min.js")
    //- Fullpage
    //- link(rel="stylesheet" 
    //-   href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.6/jquery.fullPage.css")
    //- script(type="text/javascript" 
    //-   src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.6/jquery.fullPage.min.js")

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="/main.css")

  body
    //- link(type="text/javascript" src="js/materialize.min.js")
    != yield