.section.container(data-midnight="bar")
	.white
		a(href="mailto:andreas.cm.johansson@gmail.com").btn-floating.waves-effect.waves-light.light-blue.darken-4
			i.fa.fa-envelope-o
		a(href="https://github.com/andreascmj").btn-floating.waves-effect.waves-light.light-blue.darken-4 
			i.fa.fa-github
		a(href="https://se.linkedin.com/in/andreascmjohansson").btn-floating.waves-effect.waves-light.light-blue.darken-4.hoverable
			i.fa.fa-linkedin
		a(href="https://soundcloud.com/andreascmjohansson").btn-floating.waves-effect.waves-light.light-blue.darken-4.hoverable
			i.fa.fa-soundcloud
		a(href="https://twitter.com/Andreas_cmj").btn-floating.waves-effect.waves-light.light-blue.darken-4.hoverable
			i.fa.fa-twitter