.navbar-fixed
	nav.blue-grey.darken-4
		a(href="CV").nav-wrapper.midnightHeader.default
			h1 Andreas Johansson
		//- .nav-wrapper.midnightHeader.foo.blue-grey.darken-3
		//- 	h1 Andreas Johansson
		//- .nav-wrapper.midnightHeader.bar.blue-grey.darken-2
		//- 	h1 Andreas Johansson
