.navbar-fixed
	nav.transparent.white-text
		a(href="CV").nav-wrapper.midnightHeader.default.blue-grey.darken-4
			h1 Andreas Johansson
		.nav-wrapper.midnightHeader.foo.blue-grey.darken-3
			h1 Andreas Johansson
		.nav-wrapper.midnightHeader.bar.blue-grey.darken-2
			h1 Andreas Johansson
