//- nav.light-blue.darken-2
//- 	.nav-wrapper.container 
//- 		a(href="index").brand-logo Hejsan
.blue-grey.white-text
	img.profilbild(src="img/profilbild.jpg")
	h1.lighter Andreas Johansson
.container
	h3 Hi!
	h5 I am a Computer Scientist and Musician
	br
	h5 Check out these links!
	.white
		a(href="CV").btn-floating.waves-effect.waves-light.light-blue.darken-4.bold CV
		a(href="mailto:andreas.cm.johansson@gmail.com").btn-floating.waves-effect.waves-light.light-blue.darken-4
			i.fa.fa-envelope-o
		a(href="https://github.com/andreascmj").btn-floating.waves-effect.waves-light.light-blue.darken-4 
			i.fa.fa-github
		a(href="https://se.linkedin.com/in/andreascmjohansson").btn-floating.waves-effect.waves-light.light-blue.darken-4.hoverable
			i.fa.fa-linkedin
		a(href="https://soundcloud.com/andreascmjohansson").btn-floating.waves-effect.waves-light.light-blue.darken-4.hoverable
			i.fa.fa-soundcloud
		a(href="https://twitter.com/Andreas_cmj").btn-floating.waves-effect.waves-light.light-blue.darken-4.hoverable
			i.fa.fa-twitter
//- footer.page-footer.blue-grey.darken-2#main.white-text
//- 	.container
//- 		.row
//- 			.col.16.s12
//- 				h5 Footer content
//- 				p Hejsan