block files
	script(src='app.js')
include _nav
#fullpage
	.section.mainsec(data-midnight="foo")
		img.profilbild.tooltiped(src="img/profilbild2.jpg" title="Tooltip text")
		br
		include _links
	include _CV

//- .container(data-midnight="blue-grey darken-2")
//- footer.page-footer.blue-grey.darken-2#main.white-text
//- 	.container
//- 		.row
//- 			.col.16.s12
//- 				h5 Footer content
//- 				p Hejsan