nav.blue.darken-4
	.nav-wrapper
.first.light-blue
	br
	img.profilbild(src="img/profilbild.jpg")
	.white-text
		h1 Andreas Johansson
		h3 Hej
		a(href="CV") CV
.second.light-blue.darken-1
	h3 Hejsan
footer.page-footer
	.container
		.row
			.col.16.s12
				h5.white-text Footer content
				p hejsan