nav.light-blue.darken-2
	.nav-wrapper
.container
	br
	.white
		img.profilbild(src="img/profilbild.jpg")
		h1 Andreas Johansson
	a(href="CV").btn-floating.waves-effect.waves-light CV
	a(href="CV").btn-floating.waves-effect.waves-light 
		i.fa.fa-github
	a(href="CV").btn-floating.waves-effect.waves-light 
		i.fa.fa-linkedin
	h3 Hejsan
footer.page-footer.blue-grey.darken-2#main.white-text
	.container
		.row
			.col.16.s12
				h5 Footer content
				p Hejsan